/* reset styles */

html, body, h1, h5, ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
	outline: 0;
}

li {
	list-style: none;
}

h5 {
	display: inline-block;
	font-size: 15px;
}

hr {
	margin-top: 24px;
	margin-bottom: 24px;
	border: 0;
}

.container {
	max-width: 940px;
	padding: 0 15px;
	margin: 0 auto;
}

.about {
	padding: 90px 0;
	background: #fff;
}

.about h2 {
	font-size: 36px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400
}

.about p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	font-family: 'Raleway', sans-serif;
}
/* main nav */

.header {
	position: absolute;
	width: 100%;
	top: 20px;
	line-height: 12px;
}

.index {
	width: 140px;
	margin-bottom: -63px;
}

.index h1 a {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	background: #000;
	font-size: 11px;
	text-align: right;
	padding: 41px 10px 10px 0;
	display: block;
}

li a {
	height:12px;
	font-weight:bold;
	color:#999;
	display:block;
}

.nav {
	padding: 7px 0 0 7px;
	height: 56px;
	background: #000;
	opacity: 0.6;
	margin-left: 141px;
}

.nav li {
	color: #999;
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	height:12px;
	font-weight: 800;
	text-transform: uppercase;
}

.clearfix {
  clear: both;
}


/* full size background */

.jumbotron {
	background: url(../img/bg.jpg) no-repeat center center;
	height: 900px;
	background-size: cover;
}

.box {
	position: absolute;
	width: 500px;
	text-align: left;
	right: 100px;
	top: 200px;
}

.box h1, .box span {
	color: #333;
	font-family: 'Raleway', sans-serif;
	font-size: 70px;
	text-transform: uppercase;
}

.main h1 {
	font-weight: 600;
	font-size: 68px;
	display: inline-block;
}

.new-search {
	background: url(../img/dog3.jpeg) no-repeat center center;
	height: 100vh;
	background-size: cover;	
}

.search-box {
	position: absolute;
	width: 700px;
	text-align: left;
	top: 100px;
	left: 145px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}

.search-box h1 {
	font-size: 70px;
}

.supporting {
	padding-top: 60px;
	padding-bottom: 100px;
	background: #EEEEF2;
}

.supporting .col {
	width: 33%;
	float: left;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.footer .col {
	width: 50%;
	float: left;
}

.supporting img {
	height: 32px;
}

.supporting h2 {
	font-weight: 600;
	font-size: 30px;
	text-transform: uppercase;
}

.supporting p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	min-height: 80px;
}

.btn-support {
	display: inline-block;
	border: 1px solid #30627E;
	color: #30627E;
	padding: 10px 20px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1.3px;
	font-size: 16px;
	font-weight: 600;
	margin: 20px auto 60px;
}

.footer {
	background-color: #fff;
	color: #333;
	padding: 60px 0;
	font-size: 14px;
	line-height: 20px;
	position: relative;
	font-family: 'Raleway', sans-serif;
}

.footer h5 small {
	color: #838886;
	margin-left: 4px;
}